<div>
    <table>
        <tr>
            <td><button type="button" (click)="onAddition()">+</button></td>
            <td><button type="button" (click)="onSubtraction()">-</button></td>
            <td><button type="button" (click)="onMultiplation()">*</button></td>
        </tr>
        <tr>
            <td><button type="button" (click)="onDivision()">/</button></td>
            <td><button type="button" (click)="onPow()">^</button></td>
            <td><button type="button" (click)="onClearAll()">cc</button></td>
        </tr>
    </table>
</div>
